<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="form.css">
    <title>online shop</title>
</head>
<body>
    <header>
        <nav class="nev-bar">
            <li class="list-item">
                <a href="admin/add-product" class="list-bar">Add product</a>
                <a href="/shop" class="list-bar">shop</a>
                <a href="/contactus" class="list-bar">contact us</a>
               
            </li>
        </nav>
    </header>
    <div class="fill-form">
    <form action="/success" method="POST">
        <label for="name">Fill your Name</label>
        <input type="text" name="name"><br>
        <label for="email">Fill your Email</label>
        <input type="email" name="email"><br>
        <button>submit</button>
    </form></div>
</body>
</html>